In [5]:
import pandas as pd
import os

# Diretório dos arquivos Excel
diretorio = (r"K:\Python\Arquivos\Origem\arquivos_excel\Consolidar")

# Lista para armazenar os dados dos arquivos
dados = []

# Iterar sobre os arquivos Excel no diretório
for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.xlsx'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        df = pd.read_excel(caminho_arquivo)
        dados.append(df)

# Consolidar os dados em um único DataFrame
consolidado = pd.concat(dados)
consolidado

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,2023-06-08,65,2,Calçados,636,Alemanha,1,Botas,3,448,12,5376,91.920
265,2023-06-08,559,1,Moda,639,USA,5,Camiseta,120,397,350,138950,41412.000
266,2023-06-08,1111,1,Moda,639,USA,5,Camiseta,120,532,350,186200,41412.000
267,2023-06-04,37,3,Eletrônicos,639,USA,16,Smartfone,120,898,125,112250,0.000
268,2023-06-04,486,3,Eletrônicos,639,USA,6,Desktop,260,361,125,45125,7237.500